.Footer_Main {
  width: 100%;
  max-width: 1728px;
  margin: 200px auto 0;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292929;
  box-sizing: border-box;
}

.Footer_Content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.Footer_logo_image {
  width: 93px;
  height: 40px;
  object-fit: contain;
}

.navbar_second_list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-item {
  font-size: 14px;
  color: white;
}

@media (max-width: 768px) {
  .Footer_Content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .Footer_logo_image {
    width: 80px;
    height: auto;
  }
}
