.FooterAddition_Main {
  width: 100%;
  max-width: 1728px;
  margin: 0 auto 60px; 
  padding: 0 100px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.FooterAddition_Content {
  display: flex;
  width: 100%;
  max-width: 1531px;
  flex-direction: row;
  align-items: flex-end;
  gap: 23px;
  border: 1px solid #737373;
  border-radius: 10px;
  background-color: purple;
  padding: 30px;
  box-sizing: border-box;
}

.FooterAddition_Img {
  width: 281px;
  height: auto;
}

.FooterAddition_h3 {
  width: 478px;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

@media (max-width: 431px) {
  .FooterAddition_Main {
    padding: 0 20px;
    margin-bottom: 40px;
  }

  .FooterAddition_Content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .FooterAddition_Img {
    width: 135px;
    height: auto;
  }

  .FooterAddition_h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    position: static;
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FooterAddition_h3 {
    width: 100%;
    font-size: 18px;
  }

  .FooterAddition_Img {
    width: 200px;
  }
}
